#![enable(implicit_some)]

Prefab (
    entities: [
        (
            data: (
                graphics: (
                    mesh: Asset(File("mesh/cube.obj", ("OBJ", ()))),
                    material: (
                        albedo: Generate(Srgba(0.0, 1.0, 0.0, 1.0))
                    )
                ),
                transform: (
                    scale: (0.1, 0.1, 0.1),
                )
            )
        ),
    ]
)